<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Dentistry.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Dentristy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Dentistry.Properties.Settings.DentistryConnectionString"
            connectionString="Data Source=DESKTOP-NF7PQIH\SQLEXPRESS;Initial Catalog=Dentistry;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Dentistry.Properties.Settings>
            <setting name="FormPos" serializeAs="String">
                <value>100, 100</value>
            </setting>
        </Dentistry.Properties.Settings>
        <Dentristy.Properties.Settings>
            <setting name="FormPos" serializeAs="String">
                <value>100, 100</value>
            </setting>
        </Dentristy.Properties.Settings>
    </userSettings>
</configuration>